@model IEnumerable<JAZ.Models.Shopping_Cart>

@{
    ViewBag.Title = "Index";
}

<h2>My Shopping Bag</h2>




@foreach (var item in Model) {

        <img src="@item.Product.Product_Imgage_Source" style="height:50px; width:50px" />
       <br />
   
        @Html.DisplayFor(modelItem => item.Product.Product_Name)
    <br />
    <div style="text-align:right">
        @Html.DisplayFor(modelItem => item.Product.Product_Price)
    </div>
      <br/>
        <select name="Agency" id="qtyInCart" onchange="SaveCart(this,@item.ID);">
            <option value="@item.Product_Quantity" selected="selected"> @item.Product_Quantity</option>
            @for (var j = 0; j <= 10; j++)
            {
                if (j != item.Product_Quantity)
                {
                    <option value=@j>@j</option>
}

            }
        </select>

       
    
        @Html.ActionLink("Remove", "Delete", new { id = item.ID })
  
}


<script>
    function SaveCart(qty,id)
{
    $.ajax({
        type: "POST",
      url: '/Shopping_Cart/EditCart',
       data: {
           id: id,
           qty: qty.value
       }
   }).done(function() {
        location.reload(true);  
   });
   
   
    }


</script>